body {
	/*background-color: #9bd;*/
	background-color: #515151;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: flex-start; */
	/* align-content: center; */
	/* align-items: stretch; */
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    padding: 0px;
}

.cell {
    flex: 1; /* Each cell takes equal space */
    border: 1px solid #ccc;
    text-align: center;
    font-size: 39px;
    color: #ff6666;
    height: 10vh;
    aspect-ratio: 1 / 1; /* Width to height ratio */
}

.light {
    background: yellow;
}

.lightsoft { background: #565d3e}

#row2 .cell {background: #eee;}

#console {
    vertical-align: middle;
    height: 100px;
    margin: 20px;
    padding: 50px;
}

#start_stop {
    height: auto;
    margin: 0px;
    padding: 10px;
}

#tap {
    width:300px;
    height: auto;
    margin: 0px;
    padding: 10px;
}

#beatms {
    height:auto;
    margin: 0px;
    padding: 10px;

}

svg {
    height: 100%;
    width: 100%;
}
